---
import HomepageTab from "@/layouts/function-components/HomepageTab";
import { Image } from "astro:assets";
import { AiFillCheckCircle } from "react-icons/ai";
const { service } = Astro.props;
const { homepage_tab, our_service } = service;
---

<section class="section services">
  <div class="container">
    <HomepageTab client:load homepage_tab={homepage_tab} />
    {
      our_service.map((item: any, index: number) => (
        <div class="gx-5 row mt-12 items-center lg:mt-0">
          <div class={`lg:col-7 ${index % 2 === 0 ? "order-0" : "order-1"}`}>
            {item.image && (
              <div class="relative">
                <Image
                  class="w-full object-contain lg:m-16 lg:p-10 drop-shadow-sm rounded-xl"
                  alt="service"
                  width={667}
                  height={498}
                  src={item.image}
                />
              </div>
            )}
          </div>
          <div
            class={`mt-6 lg:col-5 lg:mt-0  ${
              index % 2 === 0 ? "order-1" : "order-0"
            }`}
          >
            <div class="text-container px-4 lg:px-0">
              <h2 class="lg:text-4xl ">{item.title}</h2>
              <p class="mt-4">{item.description}</p>
              {item.button && item.button.enable && (
                <a class="btn btn-white mt-6" href={item.button.link}>
                  {item.button.label}
                </a>
              )}
              <ul class="mt-6 text-dark lg:-ml-4">
                {item.list &&
                  item.list.map((list: any) => (
                    <li class="mb-2 flex items-center rounded px-4">
                      <AiFillCheckCircle className="mr-3 fill-primary text-white" />
                      {list}
                    </li>
                  ))}
              </ul>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
